<header class="header-top">
  <div class="header-container">
    <!-- burger -->
    <button class="burger">
      <span class="burger__line"></span>
    </button>
    <!-- logo  -->
    <a href="#" class="header-logo" data-scroll aria-label="Художественная галерея">
      <img src="svg/logo.svg" alt="Blanchard">
    </a>
    <!-- navigation -->
    <nav class="header-nav">
      <ul class="header-menu-list header-top__menu" aria-label="Основное меню сайта">
        <li class="header-menu__item">
          <a href="#about-us" class="header-menu__link header-menu__link_semibold" data-scroll>О нас</a>
        </li>
        <li class="header-menu__item">
          <a href="#gallery" class="header-menu__link header-menu__link_semibold" data-scroll>Галерея</a>
        </li>
        <li class="header-menu__item">
          <a href="#catalog" class="header-menu__link header-menu__link_semibold" data-scroll>Каталог</a>
        </li>
        <li class="header-menu__item">
          <a href="#events" class="header-menu__link header-menu__link_semibold" data-scroll>События</a>
        </li>
        <li class="header-menu__item">
          <a href="#publications" class="header-menu__link header-menu__link_semibold" data-scroll>Издания</a>
        </li>
        <li class="header-menu__item">
          <a href="#projects" class="header-menu__link header-menu__link_semibold" data-scroll>Проекты</a>
        </li>
        <li class="header-menu__item">
          <a href="#contacts" class="header-menu__link  header-menu__link_semibold" data-scroll>Контакты</a>
        </li>
      </ul>
      <a href="#" class="header-menu__link header-enter" aria-label="вход в личный кабинет">
        Войти
      </a>
    </nav>
    <!-- search  -->
    <form class="form-search">
      <button class="form-search__btn_activate"></button>
      <button class="form-search__btn_search"></button>
      <input type="search" class="form-search__input" placeholder="Поиск по сайту">
    </form>
  </div>
</header>