<div class="tab-content is_active" data-tab="3">
  <!-- italy  tab -->
  <ul class="accordionjs">
    <!-- accordion  -->
    <li class="accordion__item">
      <div>
        <h3 class="accordion__header">
          С 1400 по 1499 гг.
        </h3>
      </div>
      <div>
        <ul class="painter-list">
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Bindo">Бенедетто ди Биндо</a>
          </li>
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Ambrogio">Бергоньоне, Амброджо</a>
          </li>
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Bissolo">Биссоло, Франческо</a>
          </li>
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Boltraffio">Больтраффио, Джованни</a>
          </li>
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Bonsignori">Бонсиньори, Франческо</a>
          </li>
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Botticini">Боттичини, Рафаэлло</a>
          </li>
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Bramantino">Брамантино</a>
          </li>
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Brea">Бреа, Людовико</a>
          </li>
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Biagio">Бьяджо д’Антонио Туччи</a>
          </li>
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Vecchietta">Веккьетта</a>
          </li>
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Verrocchio">Андреа Верроккьо</a>
          </li>
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Ghirlandaio">Доменико Гирландайо</a>
          </li>
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Benozzo">Беноццо Гоццоли</a>
          </li>
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Granacci">Граначчи, Франческо</a>
          </li>
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Cecco">Грегорио ди Чекко</a>
          </li>
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Udine">Джованни да Удине</a>
          </li>
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Paolo">Джованни ди Паоло</a>
          </li>
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Giorgione">Джорджоне</a>
          </li>
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Parentino">Парентино, Бернардо</a>
          </li>
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Pesellino">Пезеллино</a>
          </li>
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Perugino">Пьетро Перуджино</a>
          </li>
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Peruzzi">Перуцци, Бальдассаре</a>
          </li>
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Pisanello">Пизанелло</a>
          </li>
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Pinturicchio">Пинтуриккьо</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="accordion__item">
      <div>
        <h3 class="accordion__header">
          С 1500 по 1599 гг.
        </h3>
      </div>
      <div>
        <!-- add painters here  -->
        <ul class="painter-list">
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Tintoretto">Тинторетто</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="accordion__item">
      <div>
        <h3 class="accordion__header">
          С 1600 по 1699 гг.
        </h3>
      </div>
      <div>
        <ul class="painter-list">
          <!-- add painters here  -->
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="test">Painter Name</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="accordion__item">
      <div>
        <h3 class="accordion__header">
          С 1700 по 1799 гг.
        </h3>
      </div>
      <div>
        <ul class="painter-list">
          <!-- add painters here  -->
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="test">Painter Name</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="accordion__item">
      <div>
        <h3 class="accordion__header">
          С 1800 по 1899 гг.
        </h3>
      </div>
      <div>
        <ul class="painter-list">
          <!-- add painters here  -->
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="test">Painter Name</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="accordion__item">
      <div>
        <h3 class="accordion__header">
          С 1900 по 1999 гг.
        </h3>
      </div>
      <div>
        <ul class="painter-list">
          <!-- add painters here  -->
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Carra">Карра, Карло</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="accordion__item">
      <div>
        <h3 class="accordion__header">
          С 2000 г.
        </h3>
      </div>
      <div>
        <ul class="painter-list">
          <!-- add painters here  -->
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="test">Painter Name</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>