<section id="catalog" class="catalog">
  <div class="container catalog-container">
    <h2 class="section-title">
      Каталог
    </h2>
    <p class="section-description catalog__description">
      Акционеры крупнейших компаний, которые представляют собой яркий пример континентально-европейского типа
      политической культуры, будут объявлены нарушающими общечеловеческие нормы этики и морали. Являясь всего лишь
      частью общей картины, стремящиеся вытеснить традиционное производство, нанотехнологии и по сей день остаются
      уделом либералов, которые жаждут быть функционально разнесены на независимые элементы.
    </p>
    <!-- tab block -->
    @@include("catalog__tabs.html")
    <!-- tabs  -->
    @@include("catalog__tab-content_1.html")
    @@include("catalog__tab-content_2.html")
    @@include("catalog__tab-content_3.html")
    @@include("catalog__tab-content_4.html")
    @@include("catalog__tab-content_5.html")
    <!-- end of tab block -->
    <!-- display painter block  -->
    <div class="painter-output">
      <img src="#" class="painter-output__img" alt="Фото деятеля">
      <h3 class="painter-output__header"></h3>
      <span class="painter-output__years"></span>
      <p class="painter-output__description"></p>
    </div>
  </div>
</section>