<!-- tabs menu  -->
<!-- choossing counries -->
<ul class="tabs-list country-menu-list">
  <li class="tab__item country-menu__item">
    <button class="btn-tab-trigger country-menu__btn" data-tab="1">
      <img src="/svg/france.svg" alt="франция">
    </button>
  </li>
  <li class="country-menu__item">
    <button class="btn-tab-trigger country-menu__btn" data-tab="2">
      <img src="/svg/germany.svg" alt="германия">
    </button>
  </li>
  <li class="country-menu__item">
    <button class="btn-tab-trigger country-menu__btn is_active" data-tab="3">
      <img src="/svg/italy.svg" alt="италия">
    </button>
  </li>
  <li class="country-menu__item">
    <button class="btn-tab-trigger country-menu__btn" data-tab="4">
      <img src="/svg/russia.svg" alt="россия">
    </button>
  </li>
  <li class="country-menu__item">
    <button class="btn-tab-trigger country-menu__btn" data-tab="5">
      <img src="/svg/romania.svg" alt="румыния">
    </button>
  </li>
</ul>