<div class="tab-content" data-tab="1">
  <!-- france  tab -->
  <ul class="accordionjs">
    <!-- accordion  -->
    <li class="accordion__item">
      <div>
        <h3 class="accordion__header">
          С 1400 по 1499 гг.
        </h3>
      </div>
      <div>
        <ul class="painter-list">
          <!-- add painters here  -->
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="test">Painter Name</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="accordion__item">
      <div>
        <h3 class="accordion__header">
          С 1500 по 1599 гг.
        </h3>
      </div>
      <div>
        <ul class="painter-list">
          <!-- add painters here  -->
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="test">Painter Name</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="accordion__item">
      <div>
        <h3 class="accordion__header">
          С 1600 по 1699 гг.
        </h3>
      </div>
      <div>
        <ul class="painter-list">
          <!-- add painters here  -->
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="test">Painter Name</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="accordion__item">
      <div>
        <h3 class="accordion__header">
          С 1700 по 1799 гг.
        </h3>
      </div>
      <div>
        <ul class="painter-list">
          <!-- add painters here  -->
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="test">Painter Name</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="accordion__item">
      <div>
        <h3 class="accordion__header">
          С 1800 по 1899 гг.
        </h3>
      </div>
      <div>
        <ul class="painter-list">
          <!-- add painters here  -->
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Manet">Мане, Эдуард</a>
          </li>
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Sisley">Сислей, Альфред</a>
          </li>
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="Monet">Моне, Клод</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="accordion__item">
      <div>
        <h3 class="accordion__header">
          С 1900 по 1999 гг.
        </h3>
      </div>
      <div>
        <ul class="painter-list">
          <!-- add painters here  -->
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="test">Painter Name</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="accordion__item">
      <div>
        <h3 class="accordion__header">
          С 2000 г.
        </h3>
      </div>
      <div>
        <ul class="painter-list">
          <!-- add painters here  -->
          <li class="painter__item">
            <a href="#" class="painter__link" data-painter="test">Painter Name</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>