<footer class="footer">
  <div class="footer-container">
    <a href="#" class="footer-logo" data-scroll aria-label="Художественная галерея">
      <img src="/svg/logo.svg" alt="Blanchard">
    </a>
    <div class="footer-social">
      <a href="https://vk.com/" class="footer-social__link footer-social__link_vk" target="_blank"></a>
      <a href="https://www.instagram.com/" class="footer-social__link footer-social__link_in" target="_blank"></a>
      <a href="https://www.facebook.com/" class="footer-social__link footer-social__link_fb" target="_blank"></a>
    </div>
  </div>
</footer>