.projects {
  padding-top: 52px;
  padding-bottom: 10px;

  @include mq("phone-wide") {
    padding-top: 85px;
  }
}

.projects-description {
  font-size: 1.6em;
  line-height: 32px;
  margin: 15px 0 15px 0;

  @include mq("phone-wide") {
    margin: 22px 0 26px 0;
    padding: 0 15px 0 0;
  }

  @include mq("tablet") {
    margin: 22px 0 19px 0;
    padding: 0;
  }

  @include mq("laptop") {
    max-width: 68%;
    margin: 23px 0;
  }
}

.projects-description__tooltip_icon {
  @include border-box;
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/svg/tooltip_i.svg") center / 100% no-repeat;

  // background-position: center;
  // background-size: 100%;
  // background-repeat: no-repeat;
  // background-image: url("/svg/tooltip_i.svg");

  &.is_active {
    background-image: url("/svg/tooltip_cross.svg");
  }
}

.projects-description__tooltip_text {
  display: none;
  @include border-box;
  position: absolute;
  bottom: 25px;
  left: -120px;
  width: 240px;
  padding: 10px;
  color: #fff;
  background-color: #cacaca;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;

  &.is_active {
    display: block;
  }
}

.projects-description__link {
  display: inline-block;
  color: $color-main-theme;
  text-decoration: none;

  &:focus {
    outline: 2px solid $color-focus;
  }
  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: $color-focus;
    text-decoration: underline;
  }
}

.projects-subtitle {
  font-size: 1.8em;
  font-weight: 600;
  margin: 15px 0;

  @include mq("phone-wide") {
    font-size: 2.4em;
  }

  @include mq("tablet") {
  }
}

// slider

.partners__img {
  height: 65px;
  width: 195px;
  margin: 5px auto;
  filter: grayscale(1);

  &:active {
    filter: none;
    outline: 1px solid $color-hover;
  }

  @include mq("phone-wide") {
    height: 106px;
    width: 264px;
  }

  @include mq("tablet") {
    height: 128px;
    width: 384px;
  }

  @include mq("laptop") {
    height: 150px;
    width: 450px;

    &:hover {
      filter: none;
      outline: 1px solid $color-hover;
    }
  }
}

#partners-slider {
  height: 75px;
  padding: 0;

  & > .swiper-button-next,
  & > .swiper-button-prev {
    top: 45px;
    width: 28px;
    height: 28px;
  }

  & > .swiper-button-prev {
    left: 0;
    transform: rotate(90deg);
  }
  & > .swiper-button-next {
    right: 0;
    transform: rotate(-90deg);
  }

  @include mq("phone-wide") {
    height: 116px;
    margin: 26px auto;
    & > .swiper-button-next,
    & > .swiper-button-prev {
      top: 64px;
    }
  }

  @include mq("tablet") {
    height: 138px;
    margin: 21px auto;
    & > .swiper-button-next,
    & > .swiper-button-prev {
      top: 75px;
    }
  }

  @include mq("laptop") {
    height: 160px;
    & > .swiper-button-next,
    & > .swiper-button-prev {
      top: 85px;
    }
    & > .swiper-button-next,
    & > .swiper-button-prev {
      &:hover {
        outline: none;
        background-color: $color-main-theme;
        border: 2px solid $color-main-theme;
      }
    }
  }
}
