<section id="projects" class="projects">
  <div class="container">
    <h2 class="section-title">
      Проекты
    </h2>
    <p class="projects-description">
      Предварительные выводы: постоянное информационно- пропагандистское обеспечение нашей деятельности однозначно
      фиксирует необходимость своевременного выполнения сверхзадачи. А ещё независимые государства смешаны с не
      уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Прежде
      всего, постоянное информационно- пропагандистское
      <span class="projects-description__tooltip_icon">
        <span class="projects-description__tooltip_text">Пример современных тенденций - современная
          методология
          разработки</span>
      </span>
      обеспечение нашей деятельности однозначно фиксирует
      необходимость экономической целесообразности принимаемых решений. И нет сомнений, что действия представителей
      оппозиции могут быть рассмотрены
      <span class="projects-description__tooltip_icon">
        <span class="projects-description__tooltip_text">В стремлении повысить качество</span>
      </span>
      исключительно в разрезе маркетинговых и финансовых
      <span class="projects-description__tooltip_icon">
        <span class="projects-description__tooltip_text">Приятно, граждане, наблюдать, как сделанные
          на базе аналитики выводы вызывают у вас эмоции</span>
      </span>
      предпосылок. Банальные, но
      неопровержимые выводы, а также представители современных социальных резервов призывают нас к новым свершениям,
      которые, в свою очередь, должны быть смешаны с не уникальными данными до степени совершенной неузнаваемости.
      Подробнее:
      <a href="#" class="projects-description__link" target="_blank">blanchard-art.ru/projects/about</a>
    </p>
    <h3 class="projects-subtitle">
      Партнёры проектов:
    </h3>
    <!-- Slider main container -->
    <div id="partners-slider" class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img src="/img/projects/1.png" class="partners__img" alt="партнер проекта">
        </div>
        <div class="swiper-slide">
          <img src="/img/projects/2.png" class="partners__img" alt="партнер проекта">
        </div>
        <div class="swiper-slide">
          <img src="/img/projects/3.png" class="partners__img" alt="партнер проекта">
        </div>
        <div class="swiper-slide">
          <img src="/img/projects/4.png" class="partners__img" alt="партнер проекта">
        </div>
        <div class="swiper-slide">
          <img src="/img/projects/5.png" class="partners__img" alt="партнер проекта">
        </div>
        <div class="swiper-slide">
          <img src="/img/projects/6.png" class="partners__img" alt="партнер проекта">
        </div>
        <div class="swiper-slide">
          <img src="/img/projects/7.png" class="partners__img" alt="партнер проекта">
        </div>
        <div class="swiper-slide">
          <img src="/img/projects/8.png" class="partners__img" alt="партнер проекта">
        </div>
        <div class="swiper-slide">
          <img src="/img/projects/9.png" class="partners__img" alt="партнер проекта">
        </div>
      </div>
      <!-- navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>