<section id="contacts" class="contacts">
  <h2 class="contacts-title">
    Контакты
  </h2>
  <h3 class="contacts-subtitle">
    Шоурум №2
  </h3>
  <address class="contacts__address">
    Покровский бульвар, дом 24, строение 3
  </address>
  <div id="map"></div>
  <form action="https://postman-echo.com/post" autocomplete="on" method="POST" name="contactForm" class="contacts-form"
    target="_blank">
    <fieldset class="contacts-form__fieldset">
      <legend class="contacts-form__legend">
        Заказать обратный звонок
      </legend>
      <input type="text" id="user-name" name="name" data-validate-field="name" class="contacts-form__input input_name"
        placeholder="Имя*" required>
      <input type="tel" id="user-tel" name="tel" data-validate-field="tel" class="contacts-form__input input_tel"
        placeholder="Телефон*" required>
      <button type="submit" class="btn btn_bordered сontacts-form__btn_submit">Заказать</button>
    </fieldset>
  </form>
  <h4 class="contacts__header_to-social">
    Связаться в один клик
  </h4>
  <a href="https://www.whatsapp.com/" class="contacts__social contacts__social_whatsapp" target="_blank"></a>
  <a href="https://telegram.org/" class="contacts__social contacts__social_telegram" target="_blank"></a>
</section>