<section id="publications" class="publications_dark-theme">
  <div class="container publications-container">
    <h2 class="section-title">
      Издания
    </h2>
    <h3 class="publications-subtitle publications-subtitle_phone">
      Категории
    </h3>

    <ul class="publications-cathegory-list publications-cathegory-list_phone">
      <li class="publication__cathegory-item publication__cathegory-item_phone">
        <label for="bestsellers" class="label-for-checkbox" data-checkbox>
          <input type="checkbox" id="bestsellers" class="visually-hidden">
          <span>Бестселлеры</span>
        </label>
      </li>
      <li class="publication__cathegory-item publication__cathegory-item_phone">
        <label for="art" class="label-for-checkbox" data-checkbox>
          <input type="checkbox" id="art" class="visually-hidden">
          <span>Искусство</span>
        </label>
      </li>
      <li class="publication__cathegory-item publication__cathegory-item_phone">
        <label for="architecture" class="label-for-checkbox" data-checkbox>
          <input type="checkbox" id="architecture" class="visually-hidden">
          <span>Архитектура</span>
        </label>
      </li>
      <li class="publication__cathegory-item publication__cathegory-item_phone">
        <label for="design" class="label-for-checkbox" data-checkbox>
          <input type="checkbox" id="design" class="visually-hidden" checked>
          <span>Дизайн</span>
        </label>
      </li>
      <li class="publication__cathegory-item publication__cathegory-item_phone">
        <label for="fashion" class="label-for-checkbox" data-checkbox>
          <input type="checkbox" id="fashion" class="visually-hidden">
          <span>Мода</span>
        </label>
      </li>
      <li class="publication__cathegory-item publication__cathegory-item_phone">
        <label for="for-children" class="label-for-checkbox" data-checkbox>
          <input type="checkbox" id="for-children" class="visually-hidden">
          <span>Детям</span>
        </label>
      </li>
      <li class="publication__cathegory-item publication__cathegory-item_phone">
        <label for="fiction" class="label-for-checkbox" data-checkbox>
          <input type="checkbox" id="fiction" class="visually-hidden">
          <span>Художественная литература</span>
        </label>
      </li>
      <li class="publication__cathegory-item publication__cathegory-item_phone">
        <label for="journalism" class="label-for-checkbox" data-checkbox>
          <input type="checkbox" id="journalism" class="visually-hidden">
          <span>Публицистика</span>
        </label>
      </li>
      <li class="publication__cathegory-item publication__cathegory-item_phone">
        <label for="travel-guides" class="label-for-checkbox" data-checkbox>
          <input type="checkbox" id="travel-guides" class="visually-hidden">
          <span>Путеводители</span>
        </label>
      </li>
      <li class="publication__cathegory-item publication__cathegory-item_phone">
        <label for="philosophy" class="label-for-checkbox" data-checkbox>
          <input type="checkbox" id="philosophy" class="visually-hidden">
          <span>Философия</span>
        </label>
      </li>
      <li class="publication__cathegory-item publication__cathegory-item_phone">
        <label for="educational-literature" class="label-for-checkbox" data-checkbox>
          <input type="checkbox" id="educational-literature" class="visually-hidden">
          <span>Учебная литература</span>
        </label>
      </li>
      <li class="publication__cathegory-item publication__cathegory-item_phone">
        <label for="newspapers" class="label-for-checkbox" data-checkbox>
          <input type="checkbox" id="newspapers" class="visually-hidden">
          <span>Журналы и газет</span>
        </label>
      </li>
    </ul>

    <h3 class="publications-subtitle">
      Цена
    </h3>
    <label for="min-price" class="publications__label-price publications__label-price_min">
      От
    </label>
    <input type="text" id="min-price" class="publications__input-price" value="50">
    <label class="publications__label-price">
      до
    </label>
    <input type="text" id="max-price" class="publications__input-price" value="25000">
    <label for="max-price" class="publications__label-price publications__label-price_max">
      руб.
    </label>
    <!-- Slider main container -->
    <div id="publications-slider" class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="publication-card publication-card_background-1">
            <h4 class="publication-card__header">
              Искусство цвета
            </h4>
            <span class="publication-card__name">Иттен, Иоханнес</span>
            <a href="#" class="btn btn_bordered publication-card__btn_order">Заказать</a>
            <span class="publication-card__price">620 руб.</span>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="publication-card publication-card_background-2">
            <h4 class="publication-card__header">
              Типографика
            </h4>
            <span class="publication-card__name">Рудер, Эмиль</span>
            <a href="#" class="btn btn_bordered publication-card__btn_order">Заказать</a>
            <span class="publication-card__price">2 450 руб.</span>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="publication-card publication-card_background-3">
            <h4 class="publication-card__header">
              Книга про буквы
            </h4>
            <span class="publication-card__name">Гордон, Юрий</span>
            <a href="#" class="btn btn_bordered publication-card__btn_order">Заказать</a>
            <span class="publication-card__price">2 20 0 руб.</span>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="publication-card publication-card_background-4">
            <h4 class="publication-card__header">
              Николай Ильин
            </h4>
            <span class="publication-card__name">Кричевский, Владимир</span>
            <a href="#" class="btn btn_bordered publication-card__btn_order">Заказать</a>
            <span class="publication-card__price">1 100 руб.</span>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="publication-card publication-card_background-5">
            <h4 class="publication-card__header">
              Модульные системы в графическом дизайне
            </h4>
            <span class="publication-card__name">Мюллер Брокманн</span>
            <a href="#" class="btn btn_bordered publication-card__btn_order">Заказать</a>
            <span class="publication-card__price">1 450 руб.</span>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="publication-card publication-card_background-6">
            <h4 class="publication-card__header">
              Эволюция графических стилей
            </h4>
            <span class="publication-card__name">Хеллер, Чваст</span>
            <a href="#" class="btn btn_bordered publication-card__btn_order">Заказать</a>
            <span class="publication-card__price">3 200 руб.</span>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="publication-card publication-card_background-7">
            <h4 class="publication-card__header">
              Искусство и визуальное восприятие
            </h4>
            <span class="publication-card__name">Арнхейм, Рудольф</span>
            <a href="#" class="btn btn_bordered publication-card__btn_order">Заказать</a>
            <span class="publication-card__price">2 200 руб.</span>
          </div>
        </div>

      </div>
      <!-- pagination -->
      <div class="swiper-pagination"></div>
      <!-- navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>