<section class="hero">
  <div class="hero-container">
    <h1 class="title animate__animated animate__slower animate__zoomIn">
      Прикоснитесь к прекрасному
    </h1>
    <p class="title-description animate__animated animate__slower animate__zoomIn">
      Мы вынуждены отталкиваться от того, что реализация намеченных плановых заданий создаёт предпосылки для новых
      предложений.
    </p>
    <a href="#contacts"
      class="btn btn_filled hero__btn-subscribe animate__animated animate__slower animate__delay-2s animate__fadeIn">Подписаться
      на
      рассылку</a>
  </div>
  <!-- Slider main container -->
  <div id="hero-slider" class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide slide hero__slide-1"></div>
      <div class="swiper-slide slide hero__slide-2"></div>
      <div class="swiper-slide slide hero__slide-3"></div>
    </div>
  </div>
</section>