.hero {
  position: relative;
  top: 0;
  display: flex;
  flex: 100%;
  min-height: 355px;

  @include mq("phone-wide") {
    min-height: 768px;
  }

  @include mq("laptop") {
    min-height: 800px;
    top: -70px;
    margin-bottom: 15px;
  }
}

.hero-container {
  position: absolute;
  top: 78px;
  left: 50%;
  right: 50%;
  width: 275px;
  transform: translateX(-50%);
  text-align: center;
  z-index: 3;

  @include mq("phone-wide") {
    top: 213px;
    left: 50px;
    right: auto;
    width: auto;
    max-width: 660px;
    text-align: left;
    transform: translateX(0);
  }

  @include mq("laptop") {
    top: 243px;
    left: Max(50px, calc(50px + (160 - 50) * (100vw - 1700px) / (1920 - 1700)));
    max-width: 585px;
  }
}

.title,
.title-description {
  color: #fff;
}

.title {
  margin: 0 0 15px 0;
  font-size: 3.2em;

  @include mq("phone-wide") {
    padding: 0 80px 0 0;
    font-size: 7.2em;
    letter-spacing: -2px;
  }

  @include mq("laptop") {
    padding: 0;
  }
}

.title-description {
  margin: 0 0 55px 0;
  font-size: 1.2em;
  line-height: 1.4;

  @include mq("phone-wide") {
    margin: 0 0 162px 0;
    font-size: 1.8em;
    line-height: 1.6;
    letter-spacing: 0.75px;
  }

  @include mq("laptop") {
    margin: 0 0 117px 0;
    line-height: 1.8;
  }
}

.hero__btn-subscribe {
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 20px;
  border: 2px solid transparent;

  &:focus {
    outline: none;
    border: 2px solid #d1a9f0;
  }
  &:hover {
    outline: none;
  }
  &:active {
    outline: none;
    background-color: $color-active;
    border: 2px solid #d1a9f0;
  }

  @include mq("phone-wide") {
    padding: 25px 35px;
    font-size: 1.8em;
    border-radius: 40px;
  }

  @include mq("laptop") {
    &:hover {
      position: relative;
      border: 2px solid transparent;
      &:after {
        @include pseudo;
        top: -5px;
        left: -5px;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        border-radius: inherit;
        border: 2px solid $color-hover;
      }
    }
  }
}

.swiper-container {
  width: 100%;
}

@keyframes scaleInOut {
  0% {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  50% {
    top: -5%;
    left: -5%;
    width: 105%;
    height: 105%;
  }

  100% {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#hero-slider > .swiper-wrapper > .swiper-slide-active {
  position: relative;
  animation: scaleInOut 8s infinite;
}

.hero__slide-1 {
  background-image: url("/img/hero/phone/slide-1.webp"), url("/img/hero/phone/slide-1.jpg");

  @include mq("laptop") {
    background-image: url("/img/hero/large-screen/slide-1.webp"), url("/img/hero/large-screen/slide-1.jpg");
  }
}

.hero__slide-2 {
  background-image: url("/img/hero/phone/slide-2.webp"), url("/img/hero/phone/slide-2.jpg");

  @include mq("laptop") {
    background-image: url("/img/hero/large-screen/slide-2.webp"), url("/img/hero/large-screen/slide-2.jpg");
  }
}

.hero__slide-3 {
  background-image: url("/img/hero/phone/slide-3.webp"), url("/img/hero/phone/slide-3.jpg");

  @include mq("laptop") {
    background-image: url("/img/hero/large-screen/slide-3.webp"), url("/img/hero/large-screen/slide-3.jpg");
  }
}
