.events {
  padding-top: 48px;
  padding-bottom: 17px;

  @include mq("phone-wide") {
    padding-top: 65px;
    padding-bottom: 9px;
  }

  @include mq("tablet") {
    padding-bottom: 115px;
  }

  // @include mq("large-screen") {
  //   max-width: 1600px;
  // }
}

.events-swiper_mobile {
  margin: 10px auto;
  height: 740px;

  & > .swiper-wrapper {
    height: 80%;
  }
  & > .swiper-pagination.swiper-pagination-bullets {
    bottom: 20px;
    & > .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      margin: 0 8px;
      &.swiper-pagination-bullet-active {
        background: #666;
      }
      &:focus,
      &:hover {
        outline: none;
      }
    }
  }
}

.events-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: 0;
  margin-right: auto;
  margin-left: auto;

  @include mq("phone-wide") {
    justify-content: flex-start;
    margin: 20px 0;
    max-height: 685px;
    will-change: max-height;
  }

  @include mq("tablet") {
    margin: 16px 0 16px 0;
  }

  @include mq("laptop") {
    margin: 22px 0 30px 0;
  }
}

.event__item {
  @include mq("phone-wide") {
    flex: 0 1 47%;

    &:nth-child(n + 3) {
      transform: scale(0);
      visibility: hidden;
      will-change: transform, visibility;
    }
    &:nth-child(even) {
      margin: 35px 0 0 4.7%;
    }

    &:nth-child(odd) {
      margin: 35px 0 0 0;
    }

    &:first-child {
      margin: 0;
    }
    &:nth-child(2) {
      margin: 0 0 0 4.7%;
    }
  }

  @include mq("tablet") {
    flex: 0 1 30%;
    margin: 0;

    &:nth-child(3) {
      transform: scale(1);
      visibility: visible;
    }

    &:nth-child(n + 4) {
      transform: scale(0);
      visibility: hidden;
      will-change: transform, visibility;
    }

    $gutter: 25px;
    &:nth-child(3n),
    &:nth-child(3n - 1) {
      margin: $gutter 0 0 $gutter;
    }
    &:nth-child(4n) {
      margin: $gutter 0 0 0;
    }
    &:nth-child(2),
    &:nth-child(3) {
      margin: 0 0 0 $gutter;
    }
  }

  @include mq("laptop") {
    $gutter: 25px;
    $gutter: 3.5vw;

    &:nth-child(3n),
    &:nth-child(3n - 1) {
      margin: $gutter 0 0 $gutter;
    }
    &:nth-child(4n) {
      margin: $gutter 0 0 0;
    }
    &:nth-child(2),
    &:nth-child(3) {
      margin: 0 0 0 $gutter;
    }
  }

  @include mq("large-screen") {
    flex: 0 1 500px;
    $gutter: 50px;

    &:nth-child(3n),
    &:nth-child(3n - 1) {
      margin: $gutter 0 0 $gutter;
    }
    &:nth-child(4n) {
      margin: $gutter 0 0 0;
    }
    &:nth-child(2),
    &:nth-child(3) {
      margin: 0 0 0 $gutter;
    }
  }
}

.event-card {
  @include border-box;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  min-height: 685px;
  max-width: 400px;
  padding: 220px 10px 50px 10px;
  border: 1px solid #cacaca;
  background-position: top center;
  background-size: 100% 205px;
  background-repeat: no-repeat;

  @include mq("phone-wide") {
    min-height: 683px;
    background-size: 100% 205px;
  }

  @include mq("tablet") {
    max-width: none;
  }

  @include mq("large-screen") {
    min-height: 700px;
    padding: 315px 10px 50px 10px;
    background-size: 100% 300px;
  }
}

.event-card_background-1 {
  background-image: url("/img/events/1.webp"), url("/img/events/1.jpg");
}

.event-card_background-2 {
  background-image: url("/img/events/2.webp"), url("/img/events/2.jpg");
}

.event-card_background-3 {
  background-image: url("/img/events/3.webp"), url("/img/events/3.jpg");
}

.event-card_background-4 {
  background-image: url("/img/events/4.webp"), url("/img/events/4.jpg");
}

.event-card_background-5 {
  background-image: url("/img/events/5.webp"), url("/img/events/5.jpg");
}

.card__small_place,
.card__small_time {
  font-size: 1.2em;
  align-self: flex-end;
}
.card__header,
.card__description {
  padding: 0 10px;

  @include mq("phone-wide") {
    padding: 0 25px;
  }

  @include mq("large-screen") {
    padding: 0 35px;
  }
}

.card__header {
  font-size: 2.4em;
  line-height: 1.25;
  font-weight: 600;
  margin: 10px 0;

  @include mq("phone-wide") {
    font-size: 2.4em;
    font-weight: 600;
    margin: 0.5em 0;
  }
}

.card__description {
  font-size: 1.6em;
  line-height: 1.5;
  overflow: hidden;

  @include mq("phone-wide") {
    margin: 0;
  }
}

.card__link {
  position: absolute;
  left: 20px;
  bottom: 25px;
  padding-bottom: 5px;
  font-size: 1.6em;
  text-decoration: none;
  color: $color-main-theme;
  border-bottom: 1px solid $color-main-theme;

  &:focus {
    outline: 2px solid $color-focus;
    outline-offset: 2px;
  }
  &:hover {
    font-weight: 600;
    outline: none;
  }
  &:active {
    color: $color-active;
    font-weight: 600;
    outline: none;
  }

  @include mq("phone-wide") {
    left: 35px;
    bottom: 45px;
  }

  @include mq("tablet") {
    bottom: 30px;
  }

  @include mq("large-screen") {
    left: 50px;
  }
}

.events__btn_showAll {
  position: relative;
  margin: 0 auto 105px auto;
  left: 50%;
  transform: translate(-50%, 30px);
  padding: 20px 30px;
  color: $color-main-theme;
  background-color: transparent;
  border-radius: 30px;
  font-size: 1.8em;
  font-weight: 800;

  &:focus,
  &:hover,
  &:active {
    outline: none;
  }
  &:active {
    color: #fff;
    background-color: $color-active;
    border: 2px solid #d1a9f0;
  }
  &:focus {
    &::after {
      @include pseudo;
      width: 108%;
      height: 122%;
      top: -6px;
      left: -7.5px;
      border-radius: 40px;
      border: 2px solid $color-hover;
    }
  }

  @include mq("tablet") {
    margin: 0 auto;
    transform: translate(-50%, 40px);
  }

  @include mq("laptop") {
    &:hover {
      outline: none;
      color: #fff;
      background-color: $color-main-theme;
      border: 2px solid $color-main-theme;
    }
  }
}
