<section id="events" class="events">
  <div class="container">
    <h2 id="events-title" class="section-title">
      События
    </h2>
    <ul class="events-list">
      <!-- 1  -->
      <li class="event__item event-card event-card_background-1">
        <small class="card__small_place" aria-label="место проведения">Музей им. Щусева</small>
        <small class="card__small_time">
          с 20 марта до 30 апреля
        </small>
        <h3 class="card__header">
          Книжная гравюра в живом восприятии
        </h3>
        <p class="card__description">
          Один из ведущих флорентийских художников Кватроченто, основатель художественной династии, которую продолжили
          его брат Давид и сын Ридольфо.
        </p>
        <a href="#" class="card__link">Подробнее</a>
      </li>
      <!-- 2  -->
      <li class="event__item event-card event-card_background-2">
        <small class="card__small_place" aria-label="место проведения">MMOMA</small>
        <small class="card__small_time">
          24 марта 19.00
        </small>
        <h3 class="card__header">
          «Открытая дискуссия». Дмитрий Петров и Сергей Ильин.
        </h3>
        <p class="card__description">
          Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта.
        </p>
        <a href="#" class="card__link">Подробнее</a>
      </li>
      <!-- 3  -->
      <li class="event__item event-card event-card_background-5">
        <small class="card__small_place" aria-label="место проведения">Еврейский музей</small>
        <small class="card__small_time">
          c 31 марта по 21 апреля
        </small>
        <h3 class="card__header">
          Выставка «Формация 2020»
        </h3>
        <p class="card__description">
          Идейные соображения высшего порядка, а также современная методология разработки играет важную роль в
          формировании глубокомысленных рассуждений.
        </p>
        <a href="#" class="card__link">Подробнее</a>
      </li>
      <!-- 4  -->
      <li class="event__item event-card event-card_background-4">
        <small class="card__small_place" aria-label="место проведения">ММАМ</small>
        <small class="card__small_time">
          c 8 апреля по 20 мая
        </small>
        <h3 class="card__header">
          Джон Винзор. Фотографии из серии «Метафора серебра»
        </h3>
        <p class="card__description">
          Один из ведущих флорентийских художников Кватроченто, основатель художественной династии, которую продолжили
          его брат Давид и сын Ридольфо.
        </p>
        <a href="#" class="card__link">Подробнее</a>
      </li>
      <!-- 5 -->
      <li class="event__item event-card event-card_background-3">
        <small class="card__small_place" aria-label="место проведения">Третьяковка на Крымском валу</small>
        <small class="card__small_time">
          c 30 марта по 30 апреля
        </small>
        <h3 class="card__header">
          XXIV Международная биеннале молодого искусства
        </h3>
        <p class="card__description">
          Внезапно, реплицированные с зарубежных источников, современные исследования.
        </p>
        <a href="#" class="card__link">Подробнее</a>
      </li>
    </ul>
    <button class="btn btn_bordered events__btn_showAll">Все события</button>
  </div>
</section>