.gallery_dark-theme {
  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/img/gallery/background_phone.webp"), url("/img/gallery/background_phone.jpg");

  @include mq("phone-wide") {
    background-image: url("/img/gallery/background_phone-wide.webp"), url("/img/gallery/background_phone-wide.jpg");
  }

  @include mq("laptop") {
    background-image: url("/img/gallery/background_laptop.webp"), url("/img/gallery/background_laptop.jpg");
  }
}

.gallery-container {
  position: relative;
  min-height: 962px;
  height: calc(546px + 130vw);
  padding-top: 55px;
  padding-bottom: 80px;

  @include mq("phone-wide") {
    min-height: auto;
    height: 1170px;
    padding-top: 85px;
  }

  @include mq("tablet") {
    height: 840px;
  }

  @include mq("laptop") {
    height: 995px;
  }
}

.gallery__subtitle {
  margin: 20px 0 12px 0;
  font-size: 1.6em;
  font-weight: 600;

  @include mq("phone-wide") {
    margin: 27px 0 18px 0;
  }
}

.gallery__filter {
  max-width: 290px;
  will-change: opacity, visibility;

  &.opacity-none {
    opacity: 0;
    visibility: hidden;
  }

  @include mq("phone-wide") {
    max-width: 280px;
  }

  @include mq("laptop") {
    max-width: 400px;
  }
}

#trend.translate {
  transform: translateY(-100%);
}

#technic.translate {
  transform: translateY(-200%);
}

#gallery-slider {
  top: 40px;
  height: calc(130vw + 5px);

  & > .swiper-wrapper {
    & > .swiper-slide.is_active::after {
      @include pseudo;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5) url("/svg/img-loupe.svg") center / 23% 23% no-repeat;
      border: 25px solid rgba(209, 169, 240, 0.5);
    }
  }

  & > .swiper-button-next,
  & > .swiper-button-prev {
    top: 98%;
    left: 52%;
    width: 30px;
    height: 30px;
  }

  & > .swiper-pagination {
    transform: translate(0, -0.25rem);
  }

  & > .swiper-button-prev {
    transform: translate(-70px, -25%) rotate(90deg);
  }
  & > .swiper-button-next {
    transform: translate(100%, -25%) rotate(-90deg);
  }

  @include mq("phone-wide") {
    top: -12px;
    left: 0;
    height: 695px;
    padding-top: 100px;
    & > .swiper-wrapper > .swiper-slide {
      height: calc((100% - 35px) / 2);
      overflow: hidden;
    }
    & > .swiper-pagination,
    & > .swiper-button-next,
    & > .swiper-button-prev {
      top: 68px;
      bottom: auto;
    }
    & > .swiper-pagination {
      width: 50px;
      left: 40px;
      transform: translate(0, -1.5rem);
    }

    & > .swiper-button-prev {
      left: 75px;
    }

    & > .swiper-button-next {
      left: 70px;
    }
  }

  @include mq("tablet") {
    position: absolute;
    top: 70px;
    left: auto;
    right: 50px;
    width: 595px;
  }

  @include mq("laptop") {
    width: calc(650px + (695 - 650) * (100vw - 1200px) / (1920 - 1200));
    height: 62vw;
    max-height: 750px;

    & > .swiper-wrapper > .swiper-slide {
      height: calc((100% - 50px) / 2);

      &:hover {
        &::before {
          @include pseudo;
          top: 7.5%;
          left: 7.5%;
          width: 85%;
          height: 85%;
        }
      }
    }
  }

  @include mq("large-screen") {
    width: 1150px;
  }
}

.gallery__note {
  position: absolute;
  bottom: 55px;
  width: 85%;
  left: 4.7%;
  font-size: 1.6em;
  font-weight: 600;
  line-height: 2;

  @include mq("phone-wide") {
    left: 50px;
  }

  @include mq("tablet") {
    bottom: 55px;
    max-width: 280px;
  }

  @include mq("laptop") {
    width: auto;
    max-width: 400px;
  }
}

.gallery__authorization-link {
  color: $color-main-theme;
  text-decoration: none;

  &:focus {
    outline: 2px solid $color-focus;
  }
  &:hover {
    color: $color-hover;
    text-decoration: underline;
  }
  &:active {
    color: $color-active;
    text-decoration: underline;
  }
  &:visited {
    color: $color-active;
    text-decoration: none;
  }
}

@import "choices";
