<header class="header-bottom animate__animated animate__slower animate__fadeInDown">
  <div class="header-container" id="header-bottom">
    <ul class="header-menu-list" aria-label="Меню выбора направления и автора">
      <li class="header-bottom-menu__item">
        <a href="#" class="header-menu__link header-bottom-menu__link" data-painting-style="1">Реализм</a>
        <div class="header-bottom__submenu" data-painting-style="1">
          <ul class="header-bottom__submenu-list">
            <li class="submenu__item Tintoretto">
              <a href="#" class="header-menu__link submenu__link">Тинторетто</a>
            </li>
            <li class="submenu__item Friedrich">
              <a href="#" class="header-menu__link submenu__link">Фридрих</a>
            </li>
            <li class="submenu__item Leonardo">
              <a href="#" class="header-menu__link submenu__link">Леонардо</a>
            </li>
            <li class="submenu__item Verrocchio">
              <a href="#" class="header-menu__link submenu__link">Веррокьо</a>
            </li>
            <!-- test  -->
            <li class="submenu__item Tintoretto">
              <a href="#" class="header-menu__link submenu__link">Тинторетто</a>
            </li>
            <li class="submenu__item Friedrich">
              <a href="#" class="header-menu__link submenu__link">Фридрих</a>
            </li>
            <li class="submenu__item Leonardo">
              <a href="#" class="header-menu__link submenu__link">Леонардо</a>
            </li>
            <li class="submenu__item Verrocchio">
              <a href="#" class="header-menu__link submenu__link">Веррокьо</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="header-bottom-menu__item">
        <a href="#" class="header-menu__link header-bottom-menu__link" data-painting-style="2">Импрессионизм</a>
        <div class="header-bottom__submenu" data-painting-style="2">
          <ul class="header-bottom__submenu-list">
            <li class="submenu__item Monet">
              <a href="#" class="header-menu__link submenu__link">Моне</a>
            </li>
            <li class="submenu__item Sisley">
              <a href="#" class="header-menu__link submenu__link">Сислей</a>
            </li>
            <li class="submenu__item Manet">
              <a href="#" class="header-menu__link submenu__link">Мане</a>
            </li>
            <li class="submenu__item Renoir">
              <a href="#" class="header-menu__link submenu__link">Ренуар</a>
            </li>
            <!-- test  -->
            <li class="submenu__item Monet">
              <a href="#" class="header-menu__link submenu__link">Моне</a>
            </li>
            <li class="submenu__item Sisley">
              <a href="#" class="header-menu__link submenu__link">Сислей</a>
            </li>
            <li class="submenu__item Manet">
              <a href="#" class="header-menu__link submenu__link">Мане</a>
            </li>
            <li class="submenu__item Renoir">
              <a href="#" class="header-menu__link submenu__link">Ренуар</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="header-bottom-menu__item">
        <a href="#" class="header-menu__link header-bottom-menu__link" data-painting-style="3">Постимпрессионизм</a>
        <div class="header-bottom__submenu" data-painting-style="3">
          <ul class="header-bottom__submenu-list">
            <li class="submenu__item  VanGogh">
              <a href="#" class="header-menu__link submenu__link">Ван Гог</a>
            </li>
            <li class="submenu__item Cezanne">
              <a href="#" class="header-menu__link submenu__link">Сезанн</a>
            </li>
            <li class="submenu__item Gauguin">
              <a href="#" class="header-menu__link submenu__link">Гоген</a>
            </li>
            <li class="submenu__item Seurat">
              <a href="#" class="header-menu__link submenu__link">Сёрa</a>
            </li>
            <!-- test  -->
            <li class="submenu__item  VanGogh">
              <a href="#" class="header-menu__link submenu__link">Ван Гог</a>
            </li>
            <li class="submenu__item Cezanne">
              <a href="#" class="header-menu__link submenu__link">Сезанн</a>
            </li>
            <li class="submenu__item Gauguin">
              <a href="#" class="header-menu__link submenu__link">Гоген</a>
            </li>
            <li class="submenu__item Seurat">
              <a href="#" class="header-menu__link submenu__link">Сёрa</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="header-bottom-menu__item">
        <a href="#" class="header-menu__link header-bottom-menu__link" data-painting-style="4">Авангард</a>
        <div class="header-bottom__submenu" data-painting-style="4">
          <ul class="header-bottom__submenu-list">
            <li class="submenu__item Kandinsky">
              <a href="#" class="header-menu__link submenu__link">Кандинский</a>
            </li>
            <li class="submenu__item Marinetti">
              <a href="#" class="header-menu__link submenu__link">Маринетти</a>
            </li>
            <li class="submenu__item Malevich">
              <a href="#" class="header-menu__link submenu__link">Малевич</a>
            </li>
            <li class="submenu__item Picasso">
              <a href="#" class="header-menu__link submenu__link">Пикассо</a>
            </li>
            <!-- test -->
            <li class="submenu__item Kandinsky">
              <a href="#" class="header-menu__link submenu__link">Кандинский</a>
            </li>
            <li class="submenu__item Marinetti">
              <a href="#" class="header-menu__link submenu__link">Маринетти</a>
            </li>
            <li class="submenu__item Malevich">
              <a href="#" class="header-menu__link submenu__link">Малевич</a>
            </li>
            <li class="submenu__item Picasso">
              <a href="#" class="header-menu__link submenu__link">Пикассо</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="header-bottom-menu__item">
        <a href="#" class="header-menu__link header-bottom-menu__link" data-painting-style="5">Футуризм</a>
        <div class="header-bottom__submenu" data-painting-style="5">
          <ul class="header-bottom__submenu-list">
            <li class="submenu__item Carra">
              <a href="#" class="header-menu__link submenu__link">Карра</a>
            </li>
            <li class="submenu__item Pratella">
              <a href="#" class="header-menu__link submenu__link">Прателла</a>
            </li>
            <li class="submenu__item Severini">
              <a href="#" class="header-menu__link submenu__link">Северени</a>
            </li>
            <li class="submenu__item Balla">
              <a href="#" class="header-menu__link submenu__link">Балла</a>
            </li>
            <!-- test  -->
            <li class="submenu__item Carra">
              <a href="#" class="header-menu__link submenu__link">Карра</a>
            </li>
            <li class="submenu__item Pratella">
              <a href="#" class="header-menu__link submenu__link">Прателла</a>
            </li>
            <li class="submenu__item Severini">
              <a href="#" class="header-menu__link submenu__link">Северени</a>
            </li>
            <li class="submenu__item Balla">
              <a href="#" class="header-menu__link submenu__link">Балла</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</header>