.header-bottom {
  display: none;

  @include mq("laptop") {
    position: relative;
    top: 100px;
    min-height: 70px;
    display: flex;
    justify-content: center;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.header-bottom-menu__link {
  @include mq("laptop") {
    position: relative;
    padding: 0 15px 0 0;
    &::after {
      @include pseudo;
      width: 10px;
      height: 10px;
      top: 8px;
      right: 0px;
      background-image: url("../svg/arrow-down.svg");
      background-size: cover;
      will-change: rotate;
      transition: transform 200ms ease-in-out;
    }
    &.is_active {
      &::after {
        background-image: url("../svg/arrow-down_active.svg");
        transform: rotate(180deg);
      }
    }
  }
}

.header-bottom-menu__item {
  @include mq("laptop") {
    position: relative;
  }
}

.header-bottom-menu__item:not(:first-child) {
  @include mq("laptop") {
    margin-left: calc(30px + (98 - 30) * (100vw - 1200px) / (1920 - 1200));
  }
}

// submenu
.header-bottom__submenu {
  @include mq("laptop") {
    display: none;
    position: absolute;
    top: 45px;
    left: 0px;
    padding: 40px 16px 40px 40px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    will-change: opacity, visibility;
    &.is_active {
      display: block;
      opacity: 1;
      visibility: visible;
    }
  }
}

.header-bottom__submenu-list {
  @include mq("laptop") {
    min-width: 220px;
    max-height: 220px;
    padding: 0 24px 0 0;
  }
}

.submenu__item {
  @include mq("laptop") {
    padding: 10px 15px;
    background-position: left top;
    background-size: contain;
    border: 2px solid transparent;
    &:focus-within,
    &:hover {
      border: 2px solid $color-main-theme;
    }
    &.is_active {
      position: relative;
      border: 2px solid #d1a9f0;
      background-color: rgba(194, 131, 243, 0.4);
      &::after {
        @include pseudo;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(194, 131, 243, 0.4);
      }
      & .header-menu__link .submenu__link {
        color: #fff;
      }
    }
  }
}

.submenu__link {
  @include mq("laptop") {
    &:focus,
    &:hover {
      outline: none;
      border: none;
    }
  }
}

.submenu__item:not(:first-child) {
  @include mq("laptop") {
    margin: 20px 0 0 0;
  }
}

.Tintoretto {
  @include mq("laptop") {
    background-image: url("/img/header/sub-menu/11.webp"), url("/img/header/sub-menu/11.jpg");
  }
}

.Friedrich {
  @include mq("laptop") {
    background-image: url("/img/header/sub-menu/12.webp"), url("/img/header/sub-menu/12.jpg");
  }
}

.Leonardo {
  @include mq("laptop") {
    background-image: url("/img/header/sub-menu/13.webp"), url("/img/header/sub-menu/13.jpg");
  }
}

.Verrocchio {
  @include mq("laptop") {
    background-image: url("/img/header/sub-menu/14.webp"), url("/img/header/sub-menu/14.jpg");
  }
}

.Monet {
  @include mq("laptop") {
    background-image: url("/img/header/sub-menu/21.webp"), url("/img/header/sub-menu/21.jpg");
  }
}

.Sisley {
  @include mq("laptop") {
    background-image: url("/img/header/sub-menu/22.webp"), url("/img/header/sub-menu/22.jpg");
  }
}
.Manet {
  @include mq("laptop") {
    background-image: url("/img/header/sub-menu/23.webp"), url("/img/header/sub-menu/23.jpg");
  }
}

.Renoir {
  @include mq("laptop") {
    background-image: url("/img/header/sub-menu/24.webp"), url("/img/header/sub-menu/24.jpg");
  }
}

.VanGogh {
  @include mq("laptop") {
    background-image: url("/img/header/sub-menu/31.webp"), url("/img/header/sub-menu/31.jpg");
  }
}

.Cezanne {
  @include mq("laptop") {
    background-image: url("/img/header/sub-menu/32.webp"), url("/img/header/sub-menu/32.jpg");
  }
}

.Gauguin {
  @include mq("laptop") {
    background-image: url("/img/header/sub-menu/33.webp"), url("/img/header/sub-menu/33.jpg");
  }
}

.Seurat {
  @include mq("laptop") {
    background-image: url("/img/header/sub-menu/34.webp"), url("/img/header/sub-menu/34.jpg");
  }
}

.Kandinsky {
  @include mq("laptop") {
    background-image: url("/img/header/sub-menu/41.webp"), url("/img/header/sub-menu/41.jpg");
  }
}

.Marinetti {
  @include mq("laptop") {
    background-image: url("/img/header/sub-menu/42.webp"), url("/img/header/sub-menu/42.jpg");
  }
}
.Malevich {
  @include mq("laptop") {
    background-image: url("/img/header/sub-menu/43.webp"), url("/img/header/sub-menu/43.jpg");
  }
}

.Picasso {
  @include mq("laptop") {
    background-image: url("/img/header/sub-menu/44.webp"), url("/img/header/sub-menu/44.jpg");
  }
}

.Carra {
  @include mq("laptop") {
    background-image: url("/img/header/sub-menu/51.webp"), url("/img/header/sub-menu/51.jpg");
  }
}
.Pratella {
  @include mq("laptop") {
    background-image: url("/img/header/sub-menu/52.webp"), url("/img/header/sub-menu/52.jpg");
  }
}

.Severini {
  @include mq("laptop") {
    background-image: url("/img/header/sub-menu/53.webp"), url("/img/header/sub-menu/53.jpg");
  }
}

.Balla {
  @include mq("laptop") {
    background-image: url("/img/header/sub-menu/54.webp"), url("/img/header/sub-menu/54.jpg");
  }
}

.form-search_laptop {
  @include mq("laptop") {
    flex: 0 0 250px;
    justify-self: end;
    align-self: center;
    display: flex;
    width: 100%;
    height: 1em;
    align-items: center;

    &:focus {
      outline: none;
    }
    &:focus-within > .form-search__btn_search {
      background-image: url("/svg/search_active.svg");
    }
  }
}

.form-search__btn_activate {
  @include mq("laptop") {
    display: none;
  }
}

.form-search__btn_search {
  @include mq("laptop") {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: 22px 22px;

    &:focus {
      outline: 2px solid $color-focus;
      outline-offset: 4px;
    }
    &:hover {
      background-image: url("/svg/search_active.svg");
    }
  }
}

.form-search__input {
  @include mq("laptop") {
    display: inline-block;
    width: 218px;
    margin: 0 0 0 5px;
    font-size: 1.8em;
    color: #fff;

    &:focus {
      outline: 2px solid $color-focus;
      outline-offset: 4px;
    }
    &:hover {
      outline: none;
      border-bottom: 1px solid $color-hover;
    }
    &:active {
      outline: none;
    }
    &::placeholder {
      color: #fff;
      font-size: 1.125em;
      text-overflow: ellipsis;
    }
  }
}
// сдвиг placeholder вправо при фокусе
$text-indent: 250px;

.form-search__input::-webkit-input-placeholder {
  @include mq("laptop") {
    text-indent: 0px;
    transition: text-indent 0.3s ease;
  }
}
.form-search__input::-moz-placeholder {
  @include mq("laptop") {
    text-indent: 0px;
    transition: text-indent 0.3s ease;
  }
}
.form-search__input:-moz-placeholder {
  @include mq("laptop") {
    text-indent: 0px;
    transition: text-indent 0.3s ease;
  }
}
.form-search__input:-ms-input-placeholder {
  @include mq("laptop") {
    text-indent: 0px;
    transition: text-indent 0.3s ease;
  }
}
.form-search__input:focus::-webkit-input-placeholder {
  @include mq("laptop") {
    text-indent: $text-indent;
    transition: text-indent 0.3s ease;
  }
}
.form-search__input:focus::-moz-placeholder {
  @include mq("laptop") {
    text-indent: $text-indent;
    transition: text-indent 0.3s ease;
  }
}
.form-search__input:focus:-moz-placeholder {
  @include mq("laptop") {
    text-indent: $text-indent;
    transition: text-indent 0.3s ease;
  }
}
.form-search__input:focus:-ms-input-placeholder {
  @include mq("laptop") {
    text-indent: $text-indent;
    transition: text-indent 0.3s ease;
  }
}
