// @import "../scss/base/var";
@import "../scss/base/colors";
// @import "../scss/base/function";
@import "../scss/base/mixin";
@import "../scss/base/fonts";
@import "../scss/base/normalize";
@import "../scss/base/null";
@import "../scss/base/libs";
@import "../scss/base/frequently-used";
@import "../scss/base/container";

// styles

// btn
.btn {
  color: #fff;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
}

.btn_bordered {
  border: 2px solid $color-main-theme;
}

.btn_filled {
  background-color: $color-main-theme;
}

.section-title,
.section-description {
  font-weight: 400;
}

.section-title {
  margin: 0;
  font-size: 2.8em;

  @include mq("phone-wide") {
    font-size: 4.8em;
  }
}

.section-description {
  font-size: 1.4em;
  line-height: 2;

  @include mq("phone-wide") {
    font-size: 1.6em;
  }

  @include mq("laptop") {
    max-width: 1080px;
  }
}

.slide {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: grab;
}

// swiper
// buttons
.swiper-container {
  & > .swiper-pagination {
    & > span {
      font-size: 1.6em;
    }
  }

  & > .swiper-button-next,
  & > .swiper-button-prev {
    background: #666 url("/svg/arrow-down.svg") center no-repeat;
    border-radius: 50%;
    border: 2px solid transparent;

    &:focus {
      outline: none;
      border: 2px solid $color-focus;
    }
    &:after {
      display: none;
    }

    @include mq("large-screen") {
      &:hover {
        outline: none;
        background-color: $color-main-theme;
        border: 2px solid $color-main-theme;
      }
    }
  }
}

@import "../template/header/header-top/header-top.scss";
@import "../template/header/header-bottom/header-bottom.scss";
@import "../template/hero/hero.scss";
@import "../template/about_us/about_us.scss";
@import "../template/gallery/gallery.scss";
@import "../template/catalog/catalog.scss";
@import "../template/events/events.scss";
@import "../template/publications/publications.scss";
@import "../template/projects/projects.scss";
@import "../template/contacts/contacts.scss";
@import "../template/footer/footer.scss";
