.about-us {
  padding-top: 53px;
  padding-bottom: 28px;

  @include mq("phone-wide") {
    padding-top: 85px;
    margin-bottom: 40px;
  }

  @include mq("laptop") {
    padding-top: 0;
  }
}

.about-us__description {
  @include mq("phone-wide") {
    margin: 21px 0 0 0;
  }
}
